@model Employee

<div style="border: 2px solid red">
    <p>ID: @Model.EmployeeID</p>
    <p>Name: @Model.Name</p>
    <p>Hours: @Model.Hours</p>
    <p>Title: @Model.Title</p>
</div>

<a style="display:inline; margin-right:5px" asp-controller="Employee" asp-action="Index">No</a>
@using(Html.BeginForm("DeleteUser", "Employee", FormMethod.Post))
            {
                <input type="submit" value="Delete" />
            }